/* Link to Google Fonts for Pangolin */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

/* Link to Google Fonts for Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@100&display=swap');

/* Font-Face for Pangolin (Regular) */
/* @font-face {
    font-family: 'Pangolin';
    src: 
         url('fonts/pangolin-regular-webfont.woff2') format('woff2'),
         url('fonts/pangolin-regular-webfont.woff') format('woff'),
         url('fonts/pangolin-regular-webfont.ttf') format('truetype');
    font-weight: normal;
} */

/* Font-Face for Dosis (Variable Font) */
/* @font-face {
    font-family: 'Dosis';
    src: url('fonts/dosis-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/dosis-variablefont_wght-webfont.woff') format('woff'),
         url('fonts/dosis-variablefont_wght-webfont.ttf') format('truetype');
    font-weight: normal;
} */


/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Headers with Patrick Hand SC in bold */
h2, h3, h4, h5, h6 {
    font-family: 'Pangolin', sans-serif;
    font-size: 24px;
}

/* Headers with Patrick Hand SC in bold */
h4 {
    font-family: 'Pangolin', sans-serif;
    font-size: 22px;
}

h1 {
    font-family: 'Pangolin', sans-serif;
    text-align: center;
}

h1, h2, h3 {
    color: #FFF9F3;
}

/* Normal text with Patrick Hand */
body, p, ul, li, a, footer {
    font-family: 'Dosis', sans-serif;
    text-decoration: none; /* Remove underline */
    color: black; /* Set the link color to black */

}

body {
    background-color: #FFF9F3;
}

/* Header Styles */
header {
    background-color: transparent; /* Transparent header */
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* Set it to 100% to prevent content from exceeding screen width */
}

.logo {
    max-width: 100%; /* Adjust the width as needed */
    display: flex;
}

/* Center the logo and h1 title vertically within the header */
.logo.first-header-block {
    display: flex;
    align-items: center;
    color: #7C5252;
    border: 1.5px solid #333333; /* Adjust the alpha value for transparency */
    max-width: 100%;
}

/* Add a new style to hide the second image initially */
.logo-image img.second-image {
    display: none;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align navigation buttons to the right */
    margin-top: 0px; /* Add margin to separate navigation from the top of the header */
}


.nav li {
    margin: 0 10px; /* Add margin to the right of each navigation item */
}


/* Style for the third and fourth buttons */
.nav li:nth-child(3), .nav li:nth-child(4) {
    margin-left: 5px; /* Remove the margin for the third and fourth buttons */
    margin-right: 0px; /* Add margin to separate the third and fourth buttons */
}

/* CSS for the navigation icons */
.nav-icon {
    vertical-align: middle; /* Align icons vertically with text */
}

/* Main Content Styles */
.container {
    max-width: 100%; /* Set it to 100% to prevent content from exceeding screen width */
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr; /* Single column layout by default */
    grid-gap: 20px;
    border: none; /* Remove border */
    position: relative;
    align-items: center;
}

.container .heading-block {
    display: inline-flex;
    background-color: #9B7070;
    padding: 10px;
    max-width: fit-content; /* Set it to fit the content width */
    position: relative;
}

.heading-text {
    margin-right: 0px;
}

.section {
    padding: 20px;
    background-color: #9B7070;
    border-radius: 20px;
    position: relative;
    /* margin-left: -0.5%; */
}

.section.content-block-1.right-container
{
    border: 1.5px solid #333333;
    border-radius: 20px;
    /* margin-left: -0.5%; */

}

.section.hidden-content {
    border: 1.5px solid #333333;
    border-radius: 20px;
}

.section.image2.hidden-content {
    border: none;
    border-radius: 20px;
}

/* Image on the left */
.image {
    grid-column: span 1; /* Span one column */
    height: auto;
    width: auto;
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
}


.profile-photo {
    max-width: 100%; /* Allow the image to resize based on screen width */
    display: block; /* Center align the image */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: -10%;
    height: auto; /* Allow the height to adjust proportionally */
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */

}

    .profile-photo:hover {
        transform: rotate(-2deg); /* Rotate the image by 3 degrees on hover */
    }

    .image2 {
    grid-column: span 1; /* Span one column */
    height: 400px;
    width: 400px;
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    }

    .profile-photo2 {
    max-width: 100%; /* Allow the image to resize based on screen width */
    display: block; /* Center align the image */
    margin: 0 auto; /* Center the image horizontally */
    height: auto; /* Allow the height to adjust proportionally */
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */
    }

    .profile-photo2:hover {
        transform: rotate(2deg); /* Rotate the image by 3 degrees on hover */
    }


.heading-block {
    display: inline-flex;
    align-items: center;
    background-color: #9B7070;
    border-top: 1.5px solid #333333;
    border-radius: 20px;
    padding: 10px;
    max-width: fit-content;
    position: relative;
    z-index: 1;
    overflow: hidden; /* Hide the content overflowing the borders */
}

.heading-block::before,
.heading-block::after {
    content: "";
    position: absolute;
    height: 28px;
    background-color: #333333; /* Border color */
    z-index: -1; /* Place it below the content */
    top: 0;
    width: 1.5px; /* Adjust the width to set the thickness of the border */
}

.heading-block::before {
    left: 0;
    border-top-left-radius: 20px;
}

.heading-block::after {
    right: 0;
    border-top-right-radius: 20px;
}

.heading-image {
    max-width: 50px;
    display: inline-block;
    margin-right: 10px; /* Add some space between the image and text */
}


.move-up {
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

/* Style for the header block */
.header-block {
    display: inline-block;
    background-color: #F7E4E4; /* Replace 'your-color' with the desired background color */
    border: 1px solid #333333;
    border-radius: 20px;
    margin-bottom: 10px;
    width: auto;
    margin-top: 0px;
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */

}

.header-block:hover {
    transform: scale(1.025); /* Zoom in effect on hover */
}

.first-header-block {
    display: inline-block;
    background-color: #7C5252; /* Replace 'your-color' with the desired background color */
    border-radius: 30px; /* Adjust border radius as needed */
    padding: 10px;
    margin-bottom: 0px;
    width: auto;
    margin-top: 0px;
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */

}

.first-header-block:hover {
    transform: scale(1.025); /* Zoom in effect on hover */
}

/* Style the header block */
.first-header-block-content {
    display: flex;
    align-items: center; /* Center elements vertically within the header block */
    justify-content: center;
    max-width: 100%;
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */

}

.first-header-block-content:hover {
    transform: scale(1.04); /* Zoom in effect on hover */
}

/* Content Block 1 (Anchored to the right) */
.content-block-1 {
    grid-column: span 1; /* Span one column */
    margin-left: 0px; /* Overlap a bit to the left */
    margin-right: 0px; /* Overlap a bit to the right */
    margin-top: -250px;
    margin-bottom: 150px;
    padding: 20px; /* Add padding for spacing */
    background-color: #9B7070;
    border: 1.5px solid #333333;
    border-radius: 20px;
    height: auto; /* Adjust the height as needed */
}

.Game1,
.Game2,
.Game3,
.Project1,
.Project2 {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0px;
    margin: 10px;
    border-radius: 20px;
    border: 1.5px solid #333333;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */
}

.Game1:hover,
.Game2:hover,
.Game3:hover,
.Project1:hover,
.Project2:hover {
    transform: scale(1.025); /* Zoom in effect on hover */
}


/* Pop-up Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto; /* Add overflow to enable scrolling if needed */
}



/* Add this rule for styling the h3 within the heading block in popups */
.popup-content .heading-block h3 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}


.popup-content {
    background-color: #9B7070;
    border: 1.5px solid #333333;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width percentage to fit within the screen */
    max-width: 80%; /* Set a max-width if needed */
    max-height: 75%;
    margin-top: 10px;
    z-index: 998;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}



/* Animation for showing the popup overlay */
.popup-show {
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animation for hiding the popup overlay */
.popup-hide {
    animation: fadeOut 0.5s ease-in-out forwards;
}

/* Style for making content transparent when a popup is open */
.popup-open .container,
.popup-open header,
.popup-open footer {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

/* Style for reversing the opacity transition */
.fadeContent {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

/* Add this rule to reset the opacity to 0% when the popup is closed */
.revertOpacity .container,
.revertOpacity header,
.revertOpacity footer {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.container,
header,
footer {
    transition: opacity 0.5s ease-in-out;
}


/* Style for the custom close button */
.custom-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 999; /* Adjust z-index if needed */
    transition: transform 0.3s ease; /* Add smooth transition for the zoom effect */

    /* Add any other styling you want for the custom close button, e.g., background image or color */
}

/* You can add hover effects, etc., as needed for the close button */
.custom-close-button:hover {
    /* Add hover styles here */
        transform: scale(1.025); /* Zoom in effect on hover */
}

.text-and-video {
    /* Your existing styles for the video container */
    margin-top: 50px; /* Add a margin-top to push the video content down */
}


/* CSS for Header */
.popup-content h3 {
    text-align: left; /* Align the header text to the left */
}

/* CSS for Header Text */
.header-text p {
    text-align: left; /* Align the text on the left to the left */
}

/* CSS for Text and Video Container */
.text-and-video {
    display: flex;
    flex-direction: row; /* Display text and video side by side */
}

/* CSS for the Left and Right Columns */
.left-column {
    flex: 1; /* Distribute available space evenly between text and video columns */
}

.right-column {
    flex: 1;
    max-height: 350px; /* Set a maximum height for the image */
    overflow: hidden; /* Hide any overflowing content beyond the max height */
}

.right-column img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Allow the height to adjust proportionally */
    width: auto; /* Allow the image to resize based on the container width */
}


/* CSS for Additional Text Section */
.additional-text p {
    text-align: left; /* Align the additional text to the left */
}

/* Center-align the h4 text within each image container */

.image-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.image-caption {
    position: absolute;
    bottom: 0; /* Position the caption at the bottom of the image */
    left: 0; /* Position the caption at the left of the image */
    width: 100%; /* Make the caption the same width as the image */
    background: rgba(0, 0, 0, 0.0);
    color: #FFF9F3;
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.image-wrapper:hover .image-caption {
    opacity: 1;
}




/* Footer Styles */
footer {
    background-color: #7C5252;
    color: #FFF9F3;
    text-align: center;
    padding: 10px 0;
    max-width: 100%; /* Set it to 100% to prevent content from exceeding screen width */
    border-top: 1.5px solid #333333;

}

/* Animation for image section */
.section.image {
    animation: slideFromBottom 1s ease-in-out 0.5s forwards;
    border: none; /* Remove border */
}

/* Animation for content-block-1 */
.section.content-block-1 {
    animation: slideFromBottom 1s ease-in-out 1s forwards;
}

/* Animation for the first section */
.section:nth-child(3) {
    animation: slideFromBottom 1s ease-in-out 1.5s forwards;
}

/* Animation for the second section */
.section:nth-child(4) {
    animation: slideFromBottom 1s ease-in-out 2s forwards;
}

/* Animation for the second section */
.section:nth-child(5) {
    animation: slideFromBottom 1s ease-in-out 2s forwards;
}

/* Animation for the second section */
.section:nth-child(6) {
    animation: slideFromBottom 1s ease-in-out 2s forwards;
}

/* Add a class to hide content initially */
.hidden-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}



/* You can copy the rest of your existing CSS for h2 and heading-block styles below this section. */


/* Animation for revealing content */
.reveal-content {
    opacity: 1;
    transform: translateY(0);
}


/* Add this rule for sliding animations */
.popup.slideFromBottom {
    animation: slideFromBottom 0.5s ease-in-out forwards;
}

.popup.slideToBottom {
    animation: slideToBottom 0.5s ease-in-out forwards;
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideToBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 20px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, 20px);
    }
}


@media screen and (min-width: 768px) {
    /* Larger Screens Styles */
      
    /* Normal text with Patrick Hand */
    body, p, ul, li, a, footer {
        font-size: 18px;
    }

        /* Style for the header block */
    .header-block {
        padding: 10px;
    }

    .first-header-block-content{
        margin-left: 10px;
        margin-top: 50px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

        /* Center the logo and h1 title vertically within the header */
    .logo.first-header-block {
        max-width: 25%;
        width: auto;
        margin-left: -50px;
        margin-top: -50px;
    }

    .logo-image {
        max-width: 50%;
        max-height: 50%;
        width: 50%;
        height: 50%;
        padding-right: 0px;
        justify-content: center;
        display: flex;
    }

    .logo-image img {
        max-width: 50%; /* Ensure the image doesn't overflow its container */
        width: 50%;
    }

        /* CSS for the navigation icons */
    .nav-icon {
        width: 35px; /* Set the width of the icons */
        height: 35px; /* Set the height of the icons */
    }

    h1 {
        font-size: 24px;
        width: auto;
        max-width: 50%;
    }
    .container {
        max-width: 80%; /* Ensure the container takes the full width of the screen */
        grid-template-columns: 1fr 1fr; /* Two columns layout for larger screens */
        margin: 0 auto;
    }

    .content-block-1 {
        grid-column: 1; /* Position content-block-1 on the left (first column) */
    }

    .section.content-block-1.right-container
    {
        margin-top: -50%;
        margin-bottom: 50%;
    }

    .image {
        grid-column: 2; /* Position the image on the right (second column) */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section.image {
        width: auto;
    }

    .profile-photo {
        max-width: 100%; /* Allow the image to resize based on screen width */
        width: auto;
        display: block; /* Center align the image */
        height: auto; /* Allow the height to adjust proportionally */
    }

    .section:nth-child(3) {
        grid-column: span 2; /* Span two columns for content block 2 on larger screens */
                margin-bottom: 30%;

    }

    .section:nth-child(4) {
        grid-column: span 2; /* Span two columns for content block 3 on larger screens */
                margin-bottom: 30%;

    }

    .section:nth-child(5) {
        grid-column: span 1; /* Span two columns for content block 3 on larger screens */
                        margin-bottom: 30%;
    }

    .section:nth-child(6) {
        grid-column: span 1; /* Span two columns for content block 3 on larger screens */
                margin-bottom: 30%;

    }

    .section {
        border: 1px solid  rgba(0.0, 0.0, 0.0, 0.0); /* Add a border to each section for separation */
        padding: 20px;
        }

    .image-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden; /* Hide content that overflows the container */
    }

    .image-container img {
        max-width: 95%; /* Set images to fit within the container width */
        height: auto;
    }

    .image-caption {
    opacity: 0;
    }

    .image-wrapper:hover .image-caption {
    opacity: 1;
    }

    .custom-close-button {
    width: 45px; /* Set the width of the custom close button */
    height: 45px; /* Set the height of the custom close button */
    }

    .profile-photo2 {
    margin-top: -50%;
    }
}

@media screen and (max-width: 767px) {
    /* Smaller Screens Styles */

            /* Style for the header block */
    .header-block {
        padding: 5px;
    }

    .first-header-block-content{
        margin-left: 10px;
        margin-top: 35px;
        padding-bottom: 0px;
        padding-right: 10px;
    }

        /* Center the logo and h1 title vertically within the header */
    .logo.first-header-block {
        max-width: 50%;
        width: 50%;
        margin-left: 0px;
        margin-top: -50px;
    }

    .logo-image {
        max-width: 25%;
        padding-right: 10%;
    }

    .logo-image img {
        max-width: 100%; /* Ensure the image doesn't overflow its container */
    }

    /* CSS for the navigation icons */
    .nav-icon {
        width: 20px; /* Set the width of the icons */
        height: 20px; /* Set the height of the icons */
        vertical-align: middle; /* Align icons vertically with text */
        padding: 2.5px;
    }

    h1 {
    font-size: 150%;
    }

            /* Normal text with Patrick Hand */
    body, p, ul, li, footer {
        font-size: 16px;
    }

        /* Normal text with Patrick Hand */
    a {
        font-size: 12px;
    }


    .container {
        grid-template-columns: 1fr; /* Revert to single column layout for smaller screens */
        margin: 0 auto;
        max-width: 100%;
    }

    .content-block-1 {
        grid-column: 1; /* Position content-block-1 on the left (first column) */
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .section.content-block-1.right-container
    {
    margin-top: 40%;
    margin-bottom: 50%;
    }

    .image {
        grid-column: 1; /* Position the image on the left (first column) */
    }

    .section {
        width: 90%; /* Set width to 100% for full-width sections */
        max-width: 90%;
        margin-bottom: 150px;
    }

    .section.image {
        width: auto; /* Set width to 100% for the image section */
        margin-top: 10%;
        margin-bottom: -150px;
    }

    .profile-photo {
        max-width: 80%; /* Allow the image to resize based on screen width */
        display: block; /* Center align the image */
        height: auto; /* Allow the height to adjust proportionally */
        margin: 0 auto 20px; /* Center the photo and add some margin for separation */
        float: none; /* Remove the float */
    }

    .image-container img {
        max-width: 97%; /* Ensure images don't exceed their container width */
        height: auto;
    }


    /* Adjust header navigation for smaller screens */
    header {
        flex-direction: column; /* Stack navigation items vertically */
        text-align: center; /* Center align text */
    }

    .nav {
        margin-top: 0px; /* Add margin to separate navigation from the logo */
    }

    .nav li {
        margin: 5px; /* Add vertical margin to navigation items */
    }

    .image-wrapper:hover .image-caption {
        opacity: 1; /* Ensure the caption is always visible on hover */
    }

    .custom-close-button {
        width: 35px; /* Set the width of the custom close button */
        height: 35px; /* Set the height of the custom close button */
    }

    .profile-photo2 {
        margin-top: 0%;
    }

    .section:nth-child(5) {
       margin-bottom: 30%;
    }
}
